---
layout: empty
---

<div class="splash">
	{% comment %}
	
	<div class="text-over">
		Configure your own custom patterns, lighting effects, and mood lighting.
		<span>Flickerstrip, the first addressable WiFi LED strip, lets you create your own colorful LED art from scratch.</span>
	</div>
	
	<div class="splash-subscribe-form">
		Coming soon to Kickstarter. Don't miss out, subscribe: 
		{% include subscribeform.html %}
	</div>
	{% endcomment %}
</div>

<div class="body">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	        	{{ content }}
			</div>
		</div>
	</div>
</div>
